html * {
    font-family: calibri;
}
#tableName {
    font-size: 24px;
    font-weight: bold;
}
#contents {
    padding-left: 24px;
}
#tableNotPoplulated {
    color: #aa6666;
    font-size: 24px;
    font-weight: bold;
}
#tableMetricsTable {
    border: medium none;
    padding: 2px;
}
#tableMetricsTable td {
    padding: 2px 0;
}
#tableMetricsLabel {
    color: #666666;
    font-size: 16px;
}
#tableMetricsValue {
    color: #000000;
    font-size: 16px;
    padding-left: 4px;
}
#tableMetric {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0;
}
#columnsTable {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    margin-top: 24px;
}
#columnsTable td, th {
    border: 1px solid #cccccc;
    padding: 8px;
}
#columnsTable th {
    background-color: #444444;
    color: #aaaaaa;
    font-size: 18px;
}
#fieldName {
    color: #444444;
    font-size: 20px;
}
#sampleNull {
    color: #aa6666;
    font-weight: bold;
}
#sampleUnique {
    font-weight: bold;
}
#sampleEnum {
    font-weight: bold;
}
#sampleDataTable td {
    border: medium none;
    padding-bottom: 2px;
    padding-left: 0;
    padding-top: 2px;
}
#statsTable td {
    border: medium none;
    padding: 0 0 0 2px;
}
#statsTableLable {
    color: #666666;
}
#statsTableValue {
    padding: 0;
}